<%= form_with(model: recommended_plan) do |form| %>
  <% if recommended_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recommended_plan.errors.count, "error") %> prohibited this recommended_plan from being saved:</h2>

      <ul>
        <% recommended_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :plan_id %>
    <%= form.text_field :plan_id %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_area :reason %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
