<p id="notice"><%= notice %></p>

<h1>Recommended Plans（おすすめプラン）</h1>




<div class="plans-container">
  <% @recommended_plan_details.each do |plan| %>
    <div class="plan-box">
      <h2><%= plan.plan_name %></h2>
      <p>キャリア: <%=plan.carrier %></p>
      <p>プラン名: <%=plan.name %></p>
      <p>プランタイプ: <%=plan.plan_type %></p>
      <p>月額料金: <%= number_to_currency(plan.monthly_fee, unit: '¥') %></p>
      <p>データ容量: <%= plan.data_capacity %></p>
      <p>通話料金: <%= number_to_currency(plan.call_fee || 0, unit: '¥') %></p>
      <%= link_to '詳しく', plan.official_url, class: 'btn btn-info', target: '_blank' %>
    </div>
  <% end %>
</div>