<p id="notice"><%= notice %></p>

<h1>Recommended Plans</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Plan</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recommended_plans.each do |recommended_plan| %>
      <tr>
        <td><%= recommended_plan.user_id %></td>
        <td><%= recommended_plan.plan_id %></td>
        <td><%= recommended_plan.reason %></td>
        <td><%= link_to 'Show', recommended_plan %></td>
        <td><%= link_to 'Edit', edit_recommended_plan_path(recommended_plan) %></td>
        <td><%= link_to 'Destroy', recommended_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recommended Plan', new_recommended_plan_path %>
